<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>HttpFs-Proxy - Edit user</title>
  <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}"/>
  <script src="https://kit.fontawesome.com/5a295e7a8f.js"></script>
</head>

<body>
  <div th:replace="admin/navbar :: navbar"></div>
  
  <div id="main-1" class="container-fluid">
    <h2 class="py-lg-3">Edit user: <span th:text="${user.fullname}">malex</span></h2>
    
    <div class="row">
      <div class="col-md-6">
        <form method="post">
        </form>
      </div>
    </div> <!-- .row -->
    
  </div> <!-- #main-1.container-fluid -->
  
  <th:block th:replace="admin/scripts :: bootstrap"/>
</body>
</html>