<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>HttpFs-Proxy - Admin</title>
  
  <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}"/>
</head>

<body>
  <div th:replace="admin/navbar :: navbar"></div>
  
  <div class="container-fluid">
    <h2 class="py-lg-3">Hello Spring!</h2>
    <p>This is an example index page!</p>    
  </div>
</body>

</html>