<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>HttpFs-Proxy - Admin</title>
  <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}"/>
</head>

<body>
  <div th:replace="admin/navbar :: navbar"></div>
  
  <div class="container-fluid">
    <h2 class="py-lg-3">Hello administrator!</h2>
    
    <h4>Backend</h4>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-sm table-bordered">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Service</th>
              <th scope="col">Status</th>
              <th scope="col">Last check</th>
              <th scope="col" style="width: 25%">Error</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="s, it: ${backendServices}" 
              th:classappend="${s.status.successful}? 'table-light' : 'table-danger'">
              <td scope="row">
                <span th:text="${it.count}" class="font-weight-bold">1</span>
              </td>
              <td>
                 <code th:text="${s.baseUri}">http://c1-httpfs-n01.internal:14000/</code>
              </td>
              <td>
                <span th:text="${s.status}">OK</span>
              </td>
              <td>
                <span th:text="${s.timestamp}"></span>
              </td>
              <td>
                <code class="text-wrap" th:text="${s.errorMessage}? ${s.errorMessage} : '-'"
                  >Something was wrong</code>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div> <!-- .row -->
    
  </div>
</body>

</html>