<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en">

<body>
  
  <div th:fragment="navbar" id="navbar-1" th:with="currentUri = ${#httpServletRequest.requestURI}">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" th:href="@{/admin/index}">HttpFs-Proxy</a>
      <ul class="navbar-nav mr-auto">
        <li th:with="uri = '/admin/users'" class="nav-item">
           <a th:class="'nav-link' + (${currentUri} == ${uri}? ' active' : '')" th:href="${uri}">Users</a>
        </li>
        <li th:with="uri = '/admin/status'" class="nav-item">
           <a th:class="'nav-link' + (${currentUri} == ${uri}? ' active' : '')" th:href="${uri}">Status</a>
        </li>
      </ul>
    </nav>
  </div>

</body>
</html>