<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en">

<body>
  
  <th:block th:fragment="bootstrap">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" ></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
  </th:block>
  
  <th:block th:fragment="fontawesome">
    <script src="https://kit.fontawesome.com/5a295e7a8f.js"></script>
  </th:block>
</body>
</html>