<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>HttpFs-Proxy - Delete user</title>
  <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}"/>
  <th:block th:replace="admin/scripts :: fontawesome"/>
</head>

<body>
  <div th:replace="admin/navbar :: navbar"></div>
  
  <div id="main-1" class="container-fluid">
    <h2 class="py-lg-3">Delete user: <span th:text="${userForm.fullname}">malex</span></h2>
    
    <div class="row">
      <div class="col-md-6">
        <form id="user-form" th:action="''" method="post" th:object="${userForm}">
          <p>Are you sure you want to delete user <strong th:text="*{username}"></strong>?
          </p>
          <input type="hidden" th:field="*{id}" />
          
          <a class="btn btn-secondary" th:href="@{/admin/users}">Cancel</a>
          <input type="submit" class="btn btn-danger" name="delete" value="Delete!" />  
        </form>
      </div>
    </div> <!-- .row -->
    
  </div> <!-- #main-1.container-fluid -->
  
  <th:block th:replace="admin/scripts :: bootstrap"/>
</body>
</html>