<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>HttpFs-Proxy - Bad request!</title>
  <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
  <div class="container-fluid">
    <h1 class="py-lg-3">Bad request</h1>
    <p th:if="${errorMessage}" th:text="${errorMessage}" class="text-danger">Something is wrong</p>
  </div>
</body>
</html>