<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>HttpFs-Proxy - Me</title>
  <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}"/>
</head>

<body>
  <div class="container-fluid">
    <h2 class="py-lg-3">Hello <span th:text="${username}">user</span>!</h2>
  </div>
</body>

</html>